@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply px-4 py-2 bg-sky-500 hover:bg-sky-400 border border-white/10 rounded-lg font-semibold text-sm;
	}

	.btn-secondary {
		@apply px-4 py-2 text-sm font-semibold hover:text-sky-400;
	}

	.btn-danger {
		@apply px-4 py-2 text-sm font-semibold text-red-400 hover:text-red-500;
	}

	.btn-danger-bordered {
		@apply px-4 py-2 text-sm font-semibold text-red-400 hover:text-red-500 border  border-red-400 hover:border-red-500 rounded-lg;
	}

	.link {
		@apply underline hover:text-sky-400;
	}

	.registration-form {
		@apply sm:max-w-md sm:mx-auto grid gap-4 py-10 px-3;
	}
	.registration-form div {
		@apply grid;
	}
	.registration-form input {
		@apply input;
	}
	.registration-form label,
	.registration-form span {
		@apply text-xs pl-1;
	}
	.registration-form span {
		@apply text-red-600 mt-1;
	}

	.input {
		@apply border border-dark-800 focus:border-indigo-500 bg-dark-900 rounded-md py-1 px-3 outline-none;
	}
}

html {
	@apply bg-bg text-slate-200;
}

@font-face {
	font-family: 'Chapaza';
	src: url('/fonts/Chapaza.ttf');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: rgb(16 16 16 /1);
}
