@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply px-4 py-2 bg-sky-500 hover:bg-sky-400 border border-white/10 rounded-lg font-semibold text-sm;
	}

	.btn-secondary {
		@apply px-4 py-2 text-sm font-semibold hover:text-sky-400;
	}

	.link {
		@apply underline hover:text-sky-400;
	}

	.registration-form {
		@apply max-w-md mx-auto grid gap-4 py-10;
	}
	.registration-form div {
		@apply grid;
	}
	.registration-form input {
		@apply input;
	}
	.registration-form label,
	.registration-form span {
		@apply text-xs pl-1;
	}
	.registration-form span {
		@apply text-red-600 mt-1;
	}

	.input {
		@apply border border-indigo-500/20 focus:border-indigo-500 bg-dark rounded-md py-1 px-3 outline-none;
	}
}

html {
	@apply bg-bg text-slate-200;
}

.font-serif {
	font-family: Chapaza, serif;
}

@font-face {
	font-family: 'Chapaza';
	src: url('/fonts/Chapaza.ttf');
}
